{% extends 'blog/base.html' %}
{% block title %} Questions {% endblock %}

{% block body %}
<div class="container-fluid"></div>
    <div class="text-right">
    <a class="btn btn-primary " href="{% url 'questions:new_question' %}">New Question</a>
    </div>

        {% for question in question %}
            <div class="container" style=" background:#E1DDBC">
                <a href="#">{{ question.author }}</a><hr/>
                <small style="cursor: pointer; color:#65a323; background:#D5E2E4">{{ question.title }}</small>
                <p> {{ question.body | safe }} </p>
                <p><small> {{ question.date_asked |date }} &nbsp;&nbsp;&nbsp;<a href="{% url 'questions:detail' question.pk %}">{{ question.answers.count}} answers</a></small></p>
            </div>
        {% endfor %}

     {% if is_paginated %}

      {% if page_obj.has_previous %}
        <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
      {% endif %}

      {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
          <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
          <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
      {% endif %}

    {% endif %}
</div>
{% endblock %}