{% extends 'blog/base.html' %}
{% block title %} home {% endblock %}

{% block body %}
<div class="container-fluid"></div>
    <ul>
        {% for post in post %}

            <a href="{% url 'blog:user_posts' post.author.username %}"><img class="rounded-circle" src="{{ post.author.profile.image.url }}"></a>
            <a href="{% url 'blog:user_posts' post.author.username  %}">{{ post.author }}</a>

            <small>{{ post.date_post |date }}</small>

               <p> <a href="{% url 'blog:detail' post.pk %}">{{ post.title }} </a></p>

            <p>{{ post.subject }}</p>


        {% endfor %}
    </ul>
     {% if is_paginated %}

      {% if page_obj.has_previous %}
        <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
      {% endif %}

      {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
          <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
          <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
      {% endif %}

    {% endif %}
</div>
{% endblock %}