{% extends 'blog/base.html' %}
{% block title %} home {% endblock %}

{% block body %}
   <a href="{% url 'blog:user_posts' post.author.username %}"><img class="rounded-circle" src="{{ post.author.profile.image.url }}"></a>
<a href="{% url 'blog:user_posts' post.author.username %}">{{ post.author }}</a>  {{ post.date_post |date }}
  <p>{{ post.subject }}</p>
<hr>
    <p> <small>  {{ post.comments.count }} comments </small></p>
  <ul>
      {% for comment in post.comments.all %}
           <a href="{% url 'blog:user_posts' comment.user.username %}"><img class="rounded-circle" src="{{ comment.user.profile.image.url }}"></a>
           <a href="{% url 'blog:user_posts' comment.user.username %}">{{ comment.user.username }}</a> {{ comment.date_comment | date }}
           <p>{{ comment }}</p>

           {% if comment.user == user %}
                <div>
                 <small>
                     <a class="btn btn-outline-info" href="{% url 'blog:update_comment' comment.pk %}">Edit</a>
                   <a class="btn btn-outline-danger" href="{% url 'blog:delete_comment' comment.pk %}">Delete </a>
                 </small>
                </div>
           {% endif %}

      {% empty %}
            <h6> there is no comments yet </h6>
      {% endfor%}
  </ul>


  {% if user.is_authenticated %}
    <form method="post">{% csrf_token %}
         <table>
         {{ form.as_table }}
          </table>
        <input class="btn btn-outline-info" type="submit" value='Add Comment'>
    </form>
  {% endif %}
<hr/>
  {% if post.author == user %}
    <div>
      <a class="btn btn-primary" href="{% url 'blog:update' post.id %}">Update Post</a>
       <a class="btn btn-danger" href="{% url 'blog:delete' post.id %}">Delete Post</a>
    </div>
  {% endif %}
{% endblock %}