{% extends 'blog/base.html' %}
{% block title %} password rest done {% endblock %}

{% block body %}
<div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
              <div class="alert alert-info">
                Email Had Been Sent With And Instructions To Reset Your Password
               </div>
            </div>
        </div>
       </div>
    </div>
</div>

{% endblock %}