{% extends 'blog/base.html' %}
{% block title %} password rest {% endblock %}

{% block body %}
<div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h3 class="card-title text-center">Enter Your Email address To Reset Your Password</h3>
              <form class="form-signin" role="form" action="{% url 'users:password_rest'%}" method="post" >
                 {% csrf_token %}
                 <div class="form-label-group">
                    <input id="id_email" maxlength="254" class="form-control" name="email" type="email" placeholder="Email address" required autofocus>
                    <label  for="id_email">Email address </label>
                 </div>
                 <button type="submit" class="btn btn-lg btn-primary btn-block text-uppercase">Reset my password </button>
              </form>
               <hr class="my-4">
               <hr class="my-4">
               <hr class="my-4">
                   Ooh ! I remembered my password   <a href="{% url 'users:login' %}">Login here</a>
            </div>
        </div>
       </div>
    </div>
</div>


{% endblock %}