{% extends 'blog/base.html' %}
{% block title %} password change {% endblock %}

{% block body %}

<div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h5 class="card-title text-center">Change Your Password</h5>
                    <form class="form-signin" role="form"  method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% for field in form %}
                           <div class="form-label-group">
                                <input id="{{ field.id_for_label }}" maxlength="30" class="form-control" name="{{ field.html_name }}" type="password"  required autofocus>
                                <label  for="{{ field.id_for_label }}">{{ field.label }}</label>
                            </div>
                        {% endfor %}

                        <button type="submit" class="btn btn-lg btn-primary btn-block text-uppercase">Change Your Password</button>
                    </form>
            </div>
        </div>
       </div>
    </div>
</div>

{% endblock %}